h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  margin: 0;
}

h3 {
  text-align: center;
  font-family: "Calibri";
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
}

.form-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-top .formulaire-bloc {
  border: #bbbbbb solid 5px;
  border-radius: 3px;
  margin: auto;
  width: 720px;
  font-family: "Calibri";
  margin-bottom: 10px;
}

.form-top .formulaire-bloc.active .form-sujet-content {
  display: block !important;
}

.form-top .formulaire-bloc.active .title span::before {
  content: ">";
  margin-right: 10px;
}

.form-top .formulaire-bloc .form-sujet-content {
  display: none;
}

.form-top .formulaire-bloc .title {
  height: 40px;
  text-align: right;
  background: #3f4463;
  color: #c3cce3;
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  padding-right: 15px;
}

.textarea-description-little {
  width: 95%;
  height: 100px;
}

.textarea-description {
  width: 95%;
  height: 200px;
}

#genCode {
  width: 720px;
  height: 500px;
}

#area {
  width: 720px;
  background-color: #ffffff;
  padding: 10px;
}

.form-sujet-content {
  font-size: 12px;
  color: #121212;
  padding-right: 10px;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: justify;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

label {
  font-size: 15px;
  margin-left: 20px;
  margin-top: 10px;
  width: 160px;
  float: left;
}

div#formulaire-joueur label {
  width: 300px;
}

input,
select {
  width: 300px;
  border: #bbbbbb solid 3px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  margin-top: 5px;
}

input {
  cursor: pointer;
}

div#formulaire-histoire label {
  width: unset !important;
  float: unset !important;
}

div#formulaire-histoire input[type="checkbox"] {
  width: 20px;
}

.all_parts {
  display: flex;
  flex-direction: row;
  align-items: normal;
}

textarea {
  border: #bbbbbb solid 3px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  resize: none;
  height: 200px;
}

#form-group,
#form-faction {
  display: flex;
  flex-direction: row;

  #info-citizen,
  #info-engineers,
  #info-mre,
  #info-citizens,
  #info-sociis,
  #info-officials {
    display: none;
    font-size: 13px;
  }
}

#add-link {
  width: 150px !important;
  margin-left: 10px;
}

#champ_politique,
#champ_sous_groupe {
  width: 270px !important;
}
