/**** CSS SEUL SUJETS ADMINISTRATIFS ET FICHES PAR ELYAELL (https://github.com/elyaell) *****/
/**** VERSION 1.0.0 - 10/08/2025 *****/
/**** Développé pour Chronicles (https://chronicles.forumeiros.com/) *****/
/**** Merci de garder les crédits dans les commentaires et dans le champ des crédits *****/

.sujets-box,
.sujets-box-infos-predef,
.sujets-box-predef,
.sujets-box-predef-lng {
  border: var(--admin-border);
  color : var(--admin-text-color);
  background: var(--admin-text-background);
  border-radius: 3px;
}

.sujets-title-predef-part,
.sujets-title,
.sujets-title-predef {
  padding: 5px;
  text-align: right;
  background: var(--col-1);
  color: var(--admin-text-background);
  font-size: var(--admin-large-size);
  font-family: var(--font-admin);  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sujets-subtitle {
  color:transparent; 
  background-clip:text;
  -webkit-background-clip: text; 
  text-align: left;
}

.sujets-content {
  font-size: var(--normal-size);
  padding: 15px;
  text-align: justify;
}

.box-predef-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: auto;
}

.links-text-predef > span,
.box-predef-container > * span {
  font-weight: bold;
  background:no-repeat !important;
}

.sujets-box-infos-predef {
  text-align: justify;
  padding: 0;
  overflow: hidden;
}

.box-predef {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.sujets-box-infos-predef .box-1-predef {
    outline: var(--admin-border);
    width: 200px;
    height: 200px;
    margin-top: 5px;
  }

.sujets-box-infos-predef .box-2-predef {
    align-content: center;
}

.sujets-box-infos-predef .sujets-content {
    padding: 0 !important;
}

.sujets-box-predef-column {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}

.sujets-box-predef-column .sujets-box-predef {
    width: 50%;
    height: 300px;
    overflow: auto;
}

.content-link {
  display: flex;
  flex-direction: column;
  gap : 5px;
}

.links-predef {
  display: flex;
  flex-direction: row;
  gap : 10px;
}

.links-predef img {
  height: 60px;
  width: 60px;
  border-radius: 100px;
}

/** SCENARIOS **/

.scenario-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap :  30px;
  margin-bottom : 30px;
}

.scenario-liens,
.scenario-infos-rp, 
.scenario-infos-hrp {
  background-color: var(--admin-text-background);
  outline: var(--admin-border);
  border-radius : 6px;
  color: var(--admin-text-color);
  padding:10px;
  text-align: justify;
  font-family: Calibri;
}

.scenario-liens span {
  display : block;
  text-align: left;
  text-transform: uppercase;
}

