/**** CSS SEUL SUJETS ADMINISTRATIFS ET FICHES PAR ELYAELL (https://github.com/elyaell) *****/
/**** VERSION 3.1.1 - 08/08/2025 *****/
/**** Développé pour Chronicles (https://chronicles.forumeiros.com/) *****/
/**** Merci de garder les crédits dans les commentaires et dans le champ des crédits *****/

.sujets-box,
.sujets-box-infos-predef,
.sujets-box-predef,
.sujets-box-predef-lng {
  border: var(--admin-border);
  color : var(--admin-text-color);
  background: var(--admin-text-background);
  border-radius: 3px;
}

.sujets-title-predef-part,
.sujets-title,
.sujets-title-predef {
    padding: 5px;
    text-align: right;
    background: var(--col-1);
    color: var(--admin-text-background);
    font-size: var(--admin-large-size);
    font-family: var(--font-admin);
}

.sujets-subtitle {
  color:transparent; 
  background-clip:text;
  -webkit-background-clip: text; 
}

.sujets-content {
  font-size: var(--normal-size);
  padding: 15px;
  text-align: justify;
}

.box-predef-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: auto;
}

.box-predef-container > * span {
  font-weight: bold;
  background:no-repeat !important;
}

.sujets-box-infos-predef {
  text-align: justify;
  padding: 0;
  overflow: hidden;
}

.box-predef {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.sujets-box-infos-predef .box-1-predef {
    outline: var(--admin-border);
    width: 200px;
    height: 200px;
    margin-top: 5px;
  }

.sujets-box-infos-predef .box-2-predef {
    align-content: center;
}

.sujets-box-infos-predef .sujets-content {
    padding: 0 !important;
}

.sujets-box-predef-column {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}

.sujets-box-predef-column .sujets-box-predef {
    width: 50%;
    height: 300px;
    overflow: auto;
}

.links-predef {
  width: 60px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.inks-text-predef {
  position: relative;
  margin-bottom: 5px;
}
